.home {
  padding-top: 300px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background-color: #fff;
  align-items: center;
  &--text-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    // background-color: #fff;

    h1 {
      color: var(--selected-theme-main-color);
      // margin: 200px 0 100px;
      font-weight: 400;
      font-size: 8rem;
      line-height: 10rem;
      position: relative;
      font-family: 'Inconsolata', Consolas, monospace;
      overflow: hidden;
      white-space: nowrap;
      animation: typingEffect 2.5s steps(30, end);
    }
  }
  .contact-me {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
    &--buttons-wrapper {
      display: flex;
      gap: 10px;
      button,
      a {
        cursor: pointer;
        padding: 10px 70px;
        font-size: 2rem;
        text-decoration: none;
        background-color: transparent;
        color: var(--selected-theme-main-color);
        border: 1.5px solid var(--selected-theme-main-color);
        border-radius: 4px;
        font-weight: 500;
        &:hover {
          color: #000;
          background-color: var(--selected-theme-main-color);
        }
      }
    }
    &--socials-wrapper {
      display: flex;
      gap: 10px;
      svg {
        cursor: pointer;
        color: var(--selected-theme-main-color);
        transition: all 0.03s ease-in;
        &:hover {
          transform: scale(1.2);
          box-shadow: 0 3px 15px 3px #ffdc4034;
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .home--text-wrapper h1 {
    font-size: 3rem;
    line-height: 5rem;
  }
}

@media only screen and (min-width: 551px) and (max-width: 768px) {
  .home--text-wrapper h1 {
    font-size: 4rem;
    line-height: 6rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 990px) {
  .home--text-wrapper h1 {
    font-size: 6rem;
    line-height: 8rem;
  }
}

@keyframes typingEffect {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
